@tailwind base;
@tailwind components;
@tailwind utilities;

.curved-border-bottom {
    border-bottom: 4px solid blue; /* Adjust thickness and color as needed */
    border-bottom-left-radius: 8px; /* Adjust radius for the curve */
    border-bottom-right-radius: 8px;
    transition: all 0.3s ease; /* Smooth transition */
  }